html {
  font-size: 62.5%;
}
.body {
  height: 100%;
  width: 100%;
  background: #151515 url('../src/images/haikei.jpeg') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

@import "./styles/firstSection.scss";
@import "./styles/header.scss";
